.experience-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.experience-container > div {
    background: var(--secondary);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: solid 1px transparent;
    transition: var(--transition);
    h3{
        text-align: center;
        margin-bottom: 2rem;
        color: var(--text-primary);
        font-size: 1.5rem;
    }
}
.experience-container > div:hover {
    background: transparent;
    border-color: var(--text-primary);
    cursor: default;
}
.experience-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience-details {
    display: flex;
    gap: 1rem;
    
    .experience-details-icon {
        margin-top: 6px;
        font-size: 1.1rem;
        color: var(--text-primary);
    }
}

/* ############### MEDIA QUERY (MEDIUM DEVICES) ######################### */
@media screen and (max-width: 1024px){
    .experience-container {
        grid-template-columns: 1fr;
    }
    .experience-container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
}
/* ############### MEDIA QUERY (MEDIUM DEVICES) ######################### */
@media screen and (max-width: 600px){
    .experience-container {
        gap: 1rem;
    }
    
}